@use   './styles/auth.scss';
@use   './styles/dashboard.scss';
@use   './styles/scanPage.scss';
@use   './styles/findingPage.scss';
@use   './styles/projectPage.scss';
@use   './styles/settingsPanel.scss';

